<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - HomeAutomation Sonar way" ToolsVersion="16.0">
  <Include Path="..\.sonarlint\fortinbra_homeautomationcsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.AspNetCore.Analyzers" RuleNamespace="Microsoft.AspNetCore.Analyzers">
    <Rule Id="ASP0000" Action="Warning" />
    <Rule Id="ASP0001" Action="Warning" />
    <Rule Id="MVC1005" Action="Warning" />
  </Rules>
</RuleSet>