@page "/"
@inherits BecauseImClever.AutomationUI.Pages.IndexBase
<h1>Hello, world!</h1>
<p>Available Rooms</p>
<ul>
    @foreach (var room in RoomList)
    {
        @if (room.Status)
        {
            <li><a href="/rooms/@room.Id.ToString()">@room.Name</a></li>
        }
    }
</ul>