@page "/Rooms"
@using System.Net.Http
@inject HttpClient Http
<h3>Rooms</h3>


@code {
    private List<Room> roomList;
    protected override async Task OnInitializedAsync()
    {
        var rooms = await Http.GetAsync("api/Room").ConfigureAwait(false);
        Console.WriteLine(rooms.Content.ReadAsStringAsync());


    }
}
